//tags style
.inline-tags,
.dataset-tags .views-row {
  display: inline-block;

  a {
    display: inline-block;
    padding: 2px 10px 2px;
    font-size: 12px;
    line-height: 20px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    background-color: $shade;
    margin: 3px 5px 3px 20px;
    position: relative;
    color: $gray-dark;
    border: 1px solid $border;
    border-left: 0;
    z-index: 2;

    &:after {
      content: "";
      width: 20px;
      height: 20px;
      background-color: $shade;
      transform: rotate(45deg);
      border-radius: 2px;
      position: absolute;
      top: 2px;
      left: -9px;
      z-index: -1;
      border: 1px solid #ddd;
      border-top: none;
      border-right: none;
    }

    &:before {
      content: "";
      width: 2px;
      height: 2px;
      background: $gray-light;
      position: absolute;
      top: 11px;
      left: -5px;
      webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }

  a:hover, a:hover:after {
    background: #fff;
    color: #000;
    text-decoration: none;
  }

}
