{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page front-page">
  {% block branding %}
    {% if page.navbar_branding %}
      <div class="navbar_branding">
        <div class="container">
          {{ page.navbar_branding }}
        </div>
      </div>
    {% endif %}

  {% endblock %}

  {% embed '@radix/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}
  {% endembed %}

  {% if page.content_top %}
    <div class="welcome-banner">
      <div class="container">
        {{ page.content_top }}
      </div>
    </div>
  {% endif %}

  <main class="pt-5 pb-5">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    <div class="container">
      <div class="page_main-content">
        {% if page.content_left %}
          <div class="page__content_left col-sm-3">
            {{ page.content_left }}
          </div>
        {% endif %}

        {%
          set content_classes = [
          page.content_left ? 'col-sm-9 page__content',
          page.content_left is empty ? 'col-sm-12 page__content'
        ]
        %}

        {% if page.content %}
          <div {{ content_attributes.addClass(content_classes) }}>
            {{ page.content }}
          </div>
        {% endif %}

      </div>
    </div>
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        <div class="d-flex justify-content-md-between align-items-md-center">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
</div>
