{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set views_view_classes = [
    'view',
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    css_name ? 'view-' ~ css_name,
]|merge(views_view_classes_utility_classes ? views_view_classes_utility_classes : []) %}

{% set title = title ?? true %}

<div{{ attributes.addClass(views_view_classes) }}>
    {% block title %}
        {% if title %}
            {% include "@radix/title/title.twig" %}
        {% endif %}
    {% endblock %}

    {% block header %}
        {% if header %}
            <div class="view-header">
                {{ header }}
            </div>
        {% endif %}
    {% endblock %}

    {% block exposed %}
        {% if exposed %}
            <div class="view-filters">
                {{ exposed }}
            </div>
        {% endif %}
    {% endblock %}

    {% block attachment_before %}
        {% if attachment_before %}
            <div class="attachment attachment-before">
                {{ attachment_before }}
            </div>
        {% endif %}
    {% endblock %}

    {% block rows %}
        {% if rows %}
            <div class="view-content">
                {{ rows }}
            </div>
        {% elseif empty %}
            {% embed '@radix/alert/alert.twig' with {
                type: 'warning',
                heading: false,
                content: empty,
                alert_utility_classes: ['view-empty']
            } %}
            {% endembed %}
        {% endif %}
    {% endblock %}

    {% block pager %}
        {% if pager %}
            {{ pager }}
        {% endif %}
    {% endblock %}

    {% block attachment_after %}
        {% if attachment_after %}
            <div class="attachment attachment-after">
                {{ attachment_after }}
            </div>
        {% endif %}
    {% endblock %}

    {% block more %}
        {% if more %}
            {{ more }}
        {% endif %}
    {% endblock %}

    {% block footer %}
        {% if footer %}
            <div class="view-footer">
                {{ footer }}
            </div>
        {% endif %}
    {% endblock %}

    {% block feed_icons %}
        {% if feed_icons %}
            <div class="feed-icons">
                {{ feed_icons }}
            </div>
        {% endif %}
    {% endblock %}
</div>