@import url(https://use.fontawesome.com/releases/v5.13.0/css/all.css);@charset "UTF-8";
/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
/**
 * @file
 * Styles for the facet_icons icons appearing on the search page
 *
 * See the facet_icons theme function and the facet_icons module in modules/dkan/dkan_sitewide/modules
 */
@font-face {
  font-family: "DKAN-Topics";
  src: url("../fonts/icon-font/dkan-topics.eot?fxuk5q");
  src: url("../fonts/icon-font/dkan-topics.eot?fxuk5q#iefix") format("embedded-opentype"), url("../fonts/icon-font/dkan-topics.ttf?fxuk5q") format("truetype"), url("../fonts/icon-font/dkan-topics.woff?fxuk5q") format("woff"), url("../fonts/icon-font/dkan-topics.svg?fxuk5q#dkan-topics") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon-dkan, [class^=icon-dkan-], [class*=" icon-dkan-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "DKAN-Topics" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-dkan-]:hover, [class*=" icon-dkan-"]:hover,
[class^=icon-dkan-]:active, [class*=" icon-dkan-"]:active {
  text-decoration: none;
}

[class^=icon-dkan-]:hover, [class*=" icon-dkan-"]:hover,
[class^=icon-dkan-]:active, [class*=" icon-dkan-"]:active {
  text-decoration: none;
}

.icon-dkan-harvest_source:before {
  content: "\E925";
}

.icon-dkan-page:before {
  content: "\E984";
}

.icon-dkan-data-dashboard:before,
.icon-dkan-data_dashboard:before {
  content: "\E97D";
}

.icon-dkan-dataset:before {
  content: "\E97E";
}

.icon-dkan-data-story:before,
.icon-dkan-data_story:before,
.icon-dkan-dkan_data_story:before {
  content: "\E97F";
}

.icon-dkan-feedback:before {
  content: "\E980";
}

.icon-dkan-group:before {
  content: "\E981";
}

.icon-dkan-resource:before {
  content: "\E982";
}

.icon-dkan-visualization:before {
  content: "\E983";
}

.icon-dkan-transport:before {
  content: "\E977";
}

.icon-dkan-safety:before {
  content: "\E978";
}

.icon-dkan-planning:before {
  content: "\E979";
}

.icon-dkan-healthcare:before {
  content: "\E97A";
}

.icon-dkan-education:before {
  content: "\E97B";
}

.icon-dkan-budget:before {
  content: "\E97C";
}

.icon-dkan-computer-disk-drive-1:before {
  content: "\E900";
}

.icon-dkan-computer-imac-1:before {
  content: "\E901";
}

.icon-dkan-computer-notebook-2:before {
  content: "\E902";
}

.icon-dkan-sd-card-download:before {
  content: "\E903";
}

.icon-dkan-phone-2:before {
  content: "\E904";
}

.icon-dkan-phone-signal-full:before {
  content: "\E905";
}

.icon-dkan-mobile-phone-portrait:before {
  content: "\E906";
}

.icon-dkan-headphone:before {
  content: "\E907";
}

.icon-dkan-cursor-double-click-2:before {
  content: "\E908";
}

.icon-dkan-book-2:before {
  content: "\E909";
}

.icon-dkan-books-library:before {
  content: "\E90A";
}

.icon-dkan-drawer-2:before {
  content: "\E90B";
}

.icon-dkan-newspaper:before {
  content: "\E90C";
}

.icon-dkan-crown-3:before {
  content: "\E90D";
}

.icon-dkan-google-plus:before {
  content: "\E90E";
}

.icon-dkan-trophy-3:before {
  content: "\E90F";
}

.icon-dkan-lock-close-6:before {
  content: "\E910";
}

.icon-dkan-megaphone-1:before {
  content: "\E911";
}

.icon-dkan-download-3:before {
  content: "\E912";
}

.icon-dkan-cloud:before {
  content: "\E913";
}

.icon-dkan-graph:before {
  content: "\E914";
}

.icon-dkan-network:before {
  content: "\E915";
}

.icon-dkan-design-mug:before {
  content: "\E916";
}

.icon-dkan-picture-2:before {
  content: "\E917";
}

.icon-dkan-television:before {
  content: "\E918";
}

.icon-dkan-day-snow-thunder:before {
  content: "\E919";
}

.icon-dkan-umbrella-open:before {
  content: "\E91A";
}

.icon-dkan-business-bag-cash:before {
  content: "\E91B";
}

.icon-dkan-graph-bar-2:before {
  content: "\E91C";
}

.icon-dkan-graph-bar-3d:before {
  content: "\E91D";
}

.icon-dkan-graph-bar-increase:before {
  content: "\E91E";
}

.icon-dkan-graph-line-2:before {
  content: "\E91F";
}

.icon-dkan-graph-pie-2:before {
  content: "\E920";
}

.icon-dkan-bank-notes-3:before {
  content: "\E921";
}

.icon-dkan-coin-receive:before {
  content: "\E922";
}

.icon-dkan-piggy-bank:before {
  content: "\E923";
}

.icon-dkan-wallet-1:before {
  content: "\E924";
}

.icon-dkan-network-world:before {
  content: "\E925";
}

.icon-dkan-location-pin-8:before {
  content: "\E926";
}

.icon-dkan-location-pin-target-2:before {
  content: "\E927";
}

.icon-dkan-map-1:before {
  content: "\E928";
}

.icon-dkan-map-pin-2:before {
  content: "\E929";
}

.icon-dkan-bank-2:before {
  content: "\E92A";
}

.icon-dkan-building-6:before {
  content: "\E92B";
}

.icon-dkan-building-12:before {
  content: "\E92C";
}

.icon-dkan-home-3:before {
  content: "\E92D";
}

.icon-dkan-home-4:before {
  content: "\E92E";
}

.icon-dkan-water-fountain:before {
  content: "\E92F";
}

.icon-dkan-airplane-departure:before {
  content: "\E930";
}

.icon-dkan-cactus:before {
  content: "\E931";
}

.icon-dkan-eco-globe-1:before {
  content: "\E932";
}

.icon-dkan-eco-lightbulb:before {
  content: "\E933";
}

.icon-dkan-honeycomb:before {
  content: "\E934";
}

.icon-dkan-plant:before {
  content: "\E935";
}

.icon-dkan-sign-recycle:before {
  content: "\E936";
}

.icon-dkan-tree-small-2:before {
  content: "\E937";
}

.icon-dkan-water-drop:before {
  content: "\E938";
}

.icon-dkan-water-faucet:before {
  content: "\E939";
}

.icon-dkan-windmill-paper:before {
  content: "\E93A";
}

.icon-dkan-ball-basketball:before {
  content: "\E93B";
}

.icon-dkan-dumbbell-2:before {
  content: "\E93C";
}

.icon-dkan-weight-lifting:before {
  content: "\E93D";
}

.icon-dkan-bus-2:before {
  content: "\E93E";
}

.icon-dkan-car-4:before {
  content: "\E93F";
}

.icon-dkan-car-battery:before {
  content: "\E940";
}

.icon-dkan-speed-gauge:before {
  content: "\E941";
}

.icon-dkan-traffic-light-1:before {
  content: "\E942";
}

.icon-dkan-truck-2:before {
  content: "\E943";
}

.icon-dkan-planet-ring:before {
  content: "\E944";
}

.icon-dkan-religion-bible:before {
  content: "\E945";
}

.icon-dkan-chair-4:before {
  content: "\E946";
}

.icon-dkan-tools-boox:before {
  content: "\E947";
}

.icon-dkan-tools-wrench-screwdriver:before {
  content: "\E948";
}

.icon-dkan-traffic-cone:before {
  content: "\E949";
}

.icon-dkan-shield-5:before {
  content: "\E94A";
}

.icon-dkan-thread-roll:before {
  content: "\E94B";
}

.icon-dkan-tissue:before {
  content: "\E94C";
}

.icon-dkan-ambulance:before {
  content: "\E94D";
}

.icon-dkan-dentis:before {
  content: "\E94E";
}

.icon-dkan-heart-beat:before {
  content: "\E94F";
}

.icon-dkan-hospital-1:before {
  content: "\E950";
}

.icon-dkan-medical-box:before {
  content: "\E951";
}

.icon-dkan-pulse-signal-2:before {
  content: "\E952";
}

.icon-dkan-coffee-cup-3:before {
  content: "\E953";
}

.icon-dkan-water-mug:before {
  content: "\E954";
}

.icon-dkan-apple-1:before {
  content: "\E955";
}

.icon-dkan-cheeseburger:before {
  content: "\E956";
}

.icon-dkan-balloon:before {
  content: "\E957";
}

.icon-dkan-game-controller-3:before {
  content: "\E958";
}

.icon-dkan-heart-care:before {
  content: "\E959";
}

.icon-dkan-rocking-horse:before {
  content: "\E95A";
}

.icon-dkan-copy-1:before {
  content: "\E95B";
}

.icon-dkan-file-download-1:before {
  content: "\E95C";
}

.icon-dkan-file-share-1:before {
  content: "\E95D";
}

.icon-dkan-compress:before {
  content: "\E95E";
}

.icon-dkan-at-sign-stamp:before {
  content: "\E95F";
}

.icon-dkan-envelope-3:before {
  content: "\E960";
}

.icon-dkan-account-code:before {
  content: "\E961";
}

.icon-dkan-account-favorite:before {
  content: "\E962";
}

.icon-dkan-account-group-1:before {
  content: "\E963";
}

.icon-dkan-account-group-2:before {
  content: "\E964";
}

.icon-dkan-account-group-4:before {
  content: "\E965";
}

.icon-dkan-business-increase:before {
  content: "\E966";
}

.icon-dkan-group-global:before {
  content: "\E967";
}

.icon-dkan-group-wifi:before {
  content: "\E968";
}

.icon-dkan-bubble-chat-2:before {
  content: "\E969";
}

.icon-dkan-bubble-chat-text-2:before {
  content: "\E96A";
}

.icon-dkan-user-chat-4:before {
  content: "\E96B";
}

.icon-dkan-cog-double-1:before {
  content: "\E96C";
}

.icon-dkan-cog-double-2:before {
  content: "\E96D";
}

.icon-dkan-cog-lightbulb:before {
  content: "\E96E";
}

.icon-dkan-cog:before {
  content: "\E96F";
}

.icon-dkan-gauge:before {
  content: "\E970";
}

.icon-dkan-settings-1:before {
  content: "\E971";
}

.icon-dkan-settings-2:before {
  content: "\E972";
}

.icon-dkan-timer-full-2:before {
  content: "\E973";
}

.icon-dkan-watch-2:before {
  content: "\E974";
}

.icon-dkan-flash-1:before {
  content: "\E975";
}

.icon-dkan-typewriter-1:before {
  content: "\E976";
}

input[type=submit],
.btn-primary,
.btn.btn-primary, .node-blog .links li a, .node-teaser .links li a {
  background: #002245;
  color: white;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px 12px;
  line-height: 1.4em;
  border-radius: 4px;
}

input[type=submit]:hover,
.btn-primary:hover, .node-blog .links li a:hover, .node-teaser .links li a:hover,
input[type=submit]:focus,
.btn-primary:focus,
.node-blog .links li a:focus,
.node-teaser .links li a:focus,
input[type=submit]:active,
.btn-primary:active,
.node-blog .links li a:active,
.node-teaser .links li a:active {
  color: white;
  text-decoration: none;
}

.form-managed-file input.form-submit {
  border-radius: 0 4px 4px 0;
  padding-left: 10px;
  padding-right: 10px;
}

.form-type-textfield.form-group label.option {
  position: absolute;
  top: 0;
  left: -9999px;
}

.download_btn:before {
  content: "\F019";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 600;
  margin-right: 5px;
}

input[type=submit],
.btn-primary,
.btn.btn-primary, .node-blog .links li a, .node-teaser .links li a {
  color: white;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px 12px;
  line-height: 1.4em;
  border-radius: 4px;
}

input[type=submit]:hover,
.btn-primary:hover, .node-blog .links li a:hover, .node-teaser .links li a:hover,
input[type=submit]:focus,
.btn-primary:focus,
.node-blog .links li a:focus,
.node-teaser .links li a:focus,
input[type=submit]:active,
.btn-primary:active,
.node-blog .links li a:active,
.node-teaser .links li a:active {
  color: white;
  text-decoration: none;
}

.form-managed-file input.form-submit {
  border-radius: 0 4px 4px 0;
  padding-left: 10px;
  padding-right: 10px;
}

.form-type-textfield.form-group label.option {
  position: absolute;
  top: 0;
  left: -9999px;
}

.block--ekan-theme-page-title {
  border-bottom: 1px solid #ededed;
}

.block--breadcrumbs a {
  color: #002245;
}
.block--breadcrumbs .breadcrumb-item.active {
  color: #145b98;
}
.block--breadcrumbs .breadcrumb > li + li::before {
  content: "/ ";
  color: #cccccc;
  padding: 0 5px;
}
.block--breadcrumbs .home-link {
  bottom: -4px;
  position: relative;
}

.navbar {
  background-color: #002245 !important;
  padding: 0;
}
.navbar .navbar-nav .nav-item {
  margin-right: 10px;
}
.navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #145b98;
}

.navbar_branding .container {
  display: flex;
}
.navbar_branding .container .block--exposedformsearch-boxpage-1 {
  width: 20%;
  position: absolute;
  right: 7rem;
  margin: 8px 0;
}
.navbar_branding .container .block--exposedformsearch-boxpage-1 #views-exposed-form-search-box-page-1 {
  display: flex;
}
.navbar_branding .container .block--exposedformsearch-boxpage-1 #views-exposed-form-search-box-page-1 .js-form-type-textfield #edit-s {
  width: 170px;
  height: 36px;
  margin: 0;
}
.navbar_branding .container .block--exposedformsearch-boxpage-1 #views-exposed-form-search-box-page-1 #edit-submit-search-box {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background: none;
  color: black;
  border: none;
}

.block--ekan-theme-local-tasks ul.nav-tabs {
  border-bottom: none;
}
.block--ekan-theme-local-tasks ul.nav-tabs .nav-item {
  margin-right: 3px;
}
.block--ekan-theme-local-tasks ul.nav-tabs .nav-link {
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
}
.block--ekan-theme-local-tasks ul.nav-tabs .nav-link.active {
  background-color: #005489;
  color: white;
}
.block--ekan-theme-local-tasks ul.nav-tabs li.view a:before {
  content: "\F06E";
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-right: 5px;
}
.block--ekan-theme-local-tasks ul.nav-tabs li.edit a:before {
  content: "\F044";
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-right: 5px;
}
.block--ekan-theme-local-tasks ul.nav-tabs li.revisions a:before {
  content: "\F07C";
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-right: 5px;
}
.block--ekan-theme-local-tasks ul.nav-tabs li.delete a:before {
  content: "\F2ED";
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-right: 5px;
}
.block--ekan-theme-local-tasks ul.nav-tabs li.back-to-dataset a:before {
  content: "\F0D9";
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  margin-right: 5px;
}
.block--ekan-theme-local-tasks ul.nav-tabs li.download a:before {
  content: "\F019";
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  margin-right: 5px;
}
.block--ekan-theme-local-tasks ul.nav-tabs li.go-to-resource a:before {
  font-family: "Font Awesome 5 Free";
  content: "\F0A4";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  margin-right: 5px;
}
.block--ekan-theme-local-tasks ul.nav-tabs li.add a:before,
.block--ekan-theme-local-tasks ul.nav-tabs li.add-resource a:before {
  font-family: "Font Awesome 5 Free";
  content: "\F067";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  margin-right: 5px;
}

.page_main-content {
  display: flex;
}
.page_main-content .page__content {
  padding: 0;
}
.page_main-content .page__content article, .page_main-content .page__content form {
  margin-top: 2rem;
}
.page_main-content .col-sm-9.page__content {
  padding: 15px;
  padding-top: 0;
}
.page_main-content .page__content_left {
  padding-left: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.35em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
  overflow: visible !important;
}

.branding {
  position: relative;
}
.branding .logo {
  margin: 20px 20px 15px 0;
}

@media (max-width: 768px) {
  .logo img {
    max-width: 100%;
  }
}
.site-name {
  display: block;
  font-size: 2em;
  line-height: 1.15em;
  margin: 50px 20px 0 0;
}
@media (max-width: 460px) {
  .site-name {
    clear: left;
    float: none;
    margin: 10px 20px 5px 0;
  }
}
.site-name:hover {
  text-decoration: none;
}

.site-slogan {
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 15px;
}

h1, h2, h3, h4 {
  color: #333333;
  font-weight: 300;
}

h3.media-heading {
  margin: 0.5em 0;
}

h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

a:hover {
  color: #002245;
}

p,
p:last-child {
  margin: 0 0 1.25em 0;
}

.breadcrumb {
  background: none;
  border: none;
  font-size: 1em;
  list-style: none;
  padding: 0;
  position: relative;
}
.breadcrumb li {
  float: none;
}
.breadcrumb li a span {
  display: none;
}
.breadcrumb li.home-link a {
  font-size: 1.3em;
}
.breadcrumb li.home-link a i {
  display: block;
}

.alert {
  border: none;
  padding: 15px 35px;
  position: relative;
}
.alert .close {
  line-height: 18px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.alert.alert-warning {
  background: #FFE285;
}
.alert.alert-completed {
  background: #dff0d8;
  color: #3c763d;
}
.alert:before {
  font-family: "Font Awesome 5 Free";
  font-size: 1.5em;
  position: absolute;
  top: 15px;
  left: 10px;
}
.alert.alert-danger:before {
  content: "\F06A";
  color: #d9534f;
}
.alert.alert-warning:before {
  content: "\F05A";
  color: #8a6d3b;
}
.alert.alert-completed:before, .alert.alert-success:before {
  content: "\F058";
  color: #5cb85c;
}

.page-admin .alert {
  margin: 10px 0;
}

table,
table.group_additional {
  border-collapse: collapse;
  margin: 1em 0;
  width: 100%;
}
table thead > tr > th,
table.group_additional thead > tr > th {
  background-color: #e7e7e7;
  border: 1px solid #ddd !important;
  padding: 4px 8px;
  font-weight: bold;
}
table tbody th,
table td,
table.group_additional tbody th,
table.group_additional td {
  border: 1px solid #ddd;
  padding: 4px 8px;
  vertical-align: top;
}
table tr:hover,
table.group_additional tr:hover {
  background: #FFFEEE;
}

.table-responsive {
  overflow: visible;
}

@media screen and (max-width: 1024px) {
  .table-responsive > .table > thead > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > tfoot > tr > td {
    white-space: normal;
  }
}
.field-name-field-additional-info .field-label {
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.group_additional,
.field-name-field-additional-info table,
.field-name-field-additional-info .table-responsive {
  margin: 0;
}
.group_additional td,
.group_additional th,
.field-name-field-additional-info table td,
.field-name-field-additional-info table th,
.field-name-field-additional-info .table-responsive td,
.field-name-field-additional-info .table-responsive th {
  white-space: normal;
  width: auto;
}
.group_additional td:nth-of-type(2n),
.field-name-field-additional-info table td:nth-of-type(2n),
.field-name-field-additional-info .table-responsive td:nth-of-type(2n) {
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
  word-break: break-word;
}
@media all and (min-width: 768px) {
  .group_additional .form-item th:nth-of-type(1n),
.group_additional .form-item td:nth-of-type(1n),
.group_additional .form-item th:nth-of-type(4n),
.group_additional .form-item td:nth-of-type(4n),
.field-name-field-additional-info table .form-item th:nth-of-type(1n),
.field-name-field-additional-info table .form-item td:nth-of-type(1n),
.field-name-field-additional-info table .form-item th:nth-of-type(4n),
.field-name-field-additional-info table .form-item td:nth-of-type(4n),
.field-name-field-additional-info .table-responsive .form-item th:nth-of-type(1n),
.field-name-field-additional-info .table-responsive .form-item td:nth-of-type(1n),
.field-name-field-additional-info .table-responsive .form-item th:nth-of-type(4n),
.field-name-field-additional-info .table-responsive .form-item td:nth-of-type(4n) {
    width: 5%;
    border-right: 1px solid #ddd;
  }
  .group_additional .form-item th:nth-of-type(2n),
.group_additional .form-item td:nth-of-type(2n),
.field-name-field-additional-info table .form-item th:nth-of-type(2n),
.field-name-field-additional-info table .form-item td:nth-of-type(2n),
.field-name-field-additional-info .table-responsive .form-item th:nth-of-type(2n),
.field-name-field-additional-info .table-responsive .form-item td:nth-of-type(2n) {
    width: 90%;
  }
  .group_additional .form-item th:nth-of-type(2n) .form-control,
.group_additional .form-item td:nth-of-type(2n) .form-control,
.field-name-field-additional-info table .form-item th:nth-of-type(2n) .form-control,
.field-name-field-additional-info table .form-item td:nth-of-type(2n) .form-control,
.field-name-field-additional-info .table-responsive .form-item th:nth-of-type(2n) .form-control,
.field-name-field-additional-info .table-responsive .form-item td:nth-of-type(2n) .form-control {
    min-width: 40%;
  }
}

table.group_additional,
.field-name-field-additional-info table {
  margin-top: 0;
}
table.group_additional th,
table.group_additional td,
table.group_additional th:nth-of-type(1n),
table.group_additional td:nth-of-type(1n),
table.group_additional th:nth-of-type(2n),
table.group_additional td:nth-of-type(2n),
.field-name-field-additional-info table th,
.field-name-field-additional-info table td,
.field-name-field-additional-info table th:nth-of-type(1n),
.field-name-field-additional-info table td:nth-of-type(1n),
.field-name-field-additional-info table th:nth-of-type(2n),
.field-name-field-additional-info table td:nth-of-type(2n) {
  width: auto;
}
table.group_additional th .form-control,
table.group_additional td .form-control,
table.group_additional th:nth-of-type(1n) .form-control,
table.group_additional td:nth-of-type(1n) .form-control,
table.group_additional th:nth-of-type(2n) .form-control,
table.group_additional td:nth-of-type(2n) .form-control,
.field-name-field-additional-info table th .form-control,
.field-name-field-additional-info table td .form-control,
.field-name-field-additional-info table th:nth-of-type(1n) .form-control,
.field-name-field-additional-info table td:nth-of-type(1n) .form-control,
.field-name-field-additional-info table th:nth-of-type(2n) .form-control,
.field-name-field-additional-info table td:nth-of-type(2n) .form-control {
  display: inline-block;
  width: auto;
  vertical-align: top;
}

.table > thead:first-child > tr:first-child > th,
table thead:first-child tr:first-child th {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th, .calendar-calendar table.mini > thead > tr > th,
table thead > tr > th {
  background-color: #e7e7e7;
  border: 1px solid #ddd;
  padding: 4px 8px;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table tbody tr:hover td,
.table tbody tr:hover th,
.table-striped > tbody > tr:nth-child(odd):hover {
  background-color: #FFFEEE;
}

.item-list .pagination li:first-child > span,
.item-list .pagination li:first-child > a {
  border-radius: 4px 0 0 4px;
}
.item-list .pagination li:last-child > span,
.item-list .pagination li:last-child > a {
  border-radius: 0 4px 4px 0;
}

.radix-layouts-sidebar .item-list ul,
.nav-simple {
  margin: 0;
  list-style: none;
  padding: 0;
}
.radix-layouts-sidebar .item-list ul li,
.nav-simple li {
  margin: 0;
  line-height: 1.1666666667em;
  padding: 0;
  border-bottom: 1px dotted #CCC;
  position: relative;
}
.radix-layouts-sidebar .item-list ul li a,
.nav-simple li a {
  display: block;
  margin: 0;
}
.radix-layouts-sidebar .item-list ul li a:hover,
.nav-simple li a:hover {
  background: #FFFEEE;
}
.radix-layouts-sidebar .item-list ul li.last,
.nav-simple li.last {
  border-bottom: none;
}

img {
  max-width: 100%;
  height: auto;
}

.thumbnail {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.field-multiple-drag {
  width: 30px;
}
.field-multiple-drag a.tabledrag-handle .handle {
  background: url("../../assets/images/draggable.png") no-repeat 15px 16px;
  height: 38px;
  width: 40px;
}

div[aria-label="Status message"] .alert {
  z-index: 1;
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.front .main {
  padding: 0;
}

.page-admin .main {
  padding: 20px 15px;
}
.page-admin .region-content {
  margin: 0;
}
.page-admin .breadcrumb,
.page-admin .alert,
.page-admin .tabs--primary,
.page-admin .page-header {
  margin: 0 0 15px;
}

.ekan-featured-topics .views-view-grid .views-field-name .topics-icon {
  display: grid;
  text-align: center;
}
.ekan-featured-topics .views-view-grid .views-field-name .topics-icon span {
  font-size: 100px;
}
.ekan-featured-topics .views-view-grid .views-field-name .topics-icon .topic_name {
  display: block;
  margin: 5px 0;
  text-align: center;
  width: 100%;
}
.ekan-featured-topics .views-view-grid .views-field-name .topics-icon .topic_name a:hover {
  text-decoration: none;
}
.ekan-featured-topics .views-view-grid .views-field-name a.link_to_search:hover {
  text-decoration: none;
}

.pane-dkan-sitewide-dkan-sitewide-license .pane-content {
  word-break: break-word;
}

.pane-dkan-sitewide-dkan-sitewide-other-access a.btn,
#block-dkan-sitewide-dkan-sitewide-other-access a.btn {
  background-image: auto;
  border: 1px solid #ccc;
  padding: 6px 10px 6px 36px;
  position: relative;
}
.pane-dkan-sitewide-dkan-sitewide-other-access a.btn i,
#block-dkan-sitewide-dkan-sitewide-other-access a.btn i {
  background-position: 0 0;
  position: absolute;
  top: 8px;
  left: 5px;
  visibility: visible;
}
.pane-dkan-sitewide-dkan-sitewide-other-access a.btn i.ckan-icon-rdfxml,
#block-dkan-sitewide-dkan-sitewide-other-access a.btn i.ckan-icon-rdfxml {
  background-image: url(../images/rdf.png);
}
.pane-dkan-sitewide-dkan-sitewide-other-access a.btn i.ckan-icon-json,
#block-dkan-sitewide-dkan-sitewide-other-access a.btn i.ckan-icon-json {
  background-image: url(../images/json.png);
}
.pane-dkan-sitewide-dkan-sitewide-other-access a.btn:hover,
#block-dkan-sitewide-dkan-sitewide-other-access a.btn:hover {
  background-color: #eeeeee;
}
.pane-dkan-sitewide-dkan-sitewide-other-access .btn-group,
#block-dkan-sitewide-dkan-sitewide-other-access .btn-group {
  margin: 0.6em 0;
}
.pane-dkan-sitewide-dkan-sitewide-other-access .btn-group .btn:first-child,
#block-dkan-sitewide-dkan-sitewide-other-access .btn-group .btn:first-child {
  background-image: url(../images/json.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.pane-dkan-sitewide-dkan-sitewide-other-access .btn-group .btn:last-child,
#block-dkan-sitewide-dkan-sitewide-other-access .btn-group .btn:last-child {
  background-image: url(../images/rdf.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

#block-dkan-forms-dkan-forms-dataset-help h2.block-title::before {
  content: "\F05A";
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: 1.2em;
  line-height: 1;
  position: relative;
  top: 1px;
  margin-right: 0.4em;
}

.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container.pane-block,
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .pane-content,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi].pane-block,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] .pane-content,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi.pane-block,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .pane-content {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .item-list,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] .item-list,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .item-list {
  border: 1px solid #ddd;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .item-list .facetapi-limit-link,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] .item-list .facetapi-limit-link,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .item-list .facetapi-limit-link {
  padding: 10px 22px;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .item-list .facetapi-limit-link:before,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] .item-list .facetapi-limit-link:before,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .item-list .facetapi-limit-link:before {
  top: 10px;
  right: 22px;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi h2.pane-title {
  border-radius: 0;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  padding: 9px 21px 9px 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container h2.pane-title:after,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] h2.pane-title:after,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi h2.pane-title:after {
  font-family: "fontawesome";
  content: "\F077";
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 14px;
  top: 10px;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container.ctools-collapsed h2.pane-title:after,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi].ctools-collapsed h2.pane-title:after,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi.ctools-collapsed h2.pane-title:after {
  content: "\F078";
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .ctools-toggle,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] .ctools-toggle,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi .ctools-toggle {
  background: none;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul {
  margin: 0;
  padding: 0;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf li,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf li,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf li {
  position: relative;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf li a,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf li a,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf li a {
  padding-right: 48px;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf.last,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf.last,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf.last {
  border-bottom: none;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf li:before,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf li:before,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf li:before {
  content: "\F178";
  font-family: "FontAwesome";
  position: absolute;
  top: 4px;
  right: 30px;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf a,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a {
  color: #333333;
  display: block;
  padding: 6px 20px 6px 10px;
  position: relative;
  line-height: 22px;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a:focus, .panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a:hover,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf a:focus,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf a:hover,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a:focus,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a:hover {
  color: #1a1a1a;
  background: rgba(0, 0, 0, 0.03);
  text-decoration: none;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a:hover:after,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf a:hover:after,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a:hover:after {
  content: "\F055";
  color: #5cb85c;
  font-family: "FontAwesome";
  position: absolute;
  top: 6px;
  right: 6px;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a img,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf a img,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a img {
  height: 25px;
  width: 25px;
  margin: 0 16px 0 0;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf a.facetapi-active,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active {
  background: #ccc;
  color: #333;
  z-index: 0;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active:before,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf a.facetapi-active:before,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 17px 0 17px 15px;
  border-color: transparent #ccc;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 0;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active:after,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf a.facetapi-active:after,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active:after {
  content: "\F00D";
  font-family: "FontAwesome";
  position: absolute;
  top: 6px;
  right: 6px;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container ul li.leaf a.facetapi-active:hover:after,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] ul li.leaf a.facetapi-active:hover:after,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi ul li.leaf a.facetapi-active:hover:after {
  color: red;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container a.facetapi-limit-link,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] a.facetapi-limit-link,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi a.facetapi-limit-link {
  display: block;
  padding: 5px 30px 5px 5px;
  position: relative;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container a.facetapi-limit-link:before,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] a.facetapi-limit-link:before,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi a.facetapi-limit-link:before {
  content: "\F150";
  font-family: "FontAwesome";
  position: absolute;
  top: 6px;
  right: 15px;
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container a.facetapi-limit-link.open:before,
.panel-region-sidebar .radix-layouts-sidebar div[class*=pane-facetapi] a.facetapi-limit-link.open:before,
.panel-region-sidebar .radix-layouts-sidebar .block-facetapi a.facetapi-limit-link.open:before {
  content: "\F151";
}
.panel-region-sidebar .radix-layouts-sidebar .ctools-collapsible-container .ctools-toggle {
  width: 12px;
}

.facetapi-facet-changed li.expanded a.facetapi-active {
  background: #ccc;
  border-bottom: 1px dotted #eee;
  color: #333;
  line-height: 22px;
  padding: 6px 20px 6px 10px;
}
.facetapi-facet-changed li.expanded a.facetapi-active:hover {
  background: #ccc;
  color: #333;
  text-decoration: none;
}
.facetapi-facet-changed li.expanded a.facetapi-active:hover:after {
  color: red;
}
.facetapi-facet-changed li.expanded a.facetapi-active:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 17px 0 17px 15px;
  border-color: transparent #ccc;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 0;
}
.facetapi-facet-changed li.expanded a.facetapi-active:after {
  content: "\F00D";
  font-family: "FontAwesome";
  position: absolute;
  top: 6px;
  right: 6px;
}
.facetapi-facet-changed li.expanded ul.expanded li.leaf a,
.facetapi-facet-changed li.expanded li.expanded a {
  padding: 6px 20px 6px 20px;
}
.facetapi-facet-changed li.expanded .item-list {
  border: none;
}

.facetapi-facet-field-license a {
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
  word-break: break-word;
}

.pane-views-group-block-block,
#block-views-group-block-block {
  overflow: hidden;
}
.pane-views-group-block-block .views-field-title a,
#block-views-group-block-block .views-field-title a {
  display: block;
  padding: 0.5em 0;
}
.pane-views-group-block-block .views-field-body p,
#block-views-group-block-block .views-field-body p {
  margin: 0.5em 0 1em;
}
.pane-views-group-block-block .group-subscribe-message,
#block-views-group-block-block .group-subscribe-message {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #002245;
  color: #fff;
  padding: 5px;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
}
.pane-views-group-block-block .group-subscribe-message a,
#block-views-group-block-block .group-subscribe-message a {
  color: #fff;
  display: block;
}

.node-type-group .radix-bryant .radix-layouts-sidebar .pane-block.pane-views-group-block-block .pane-content {
  padding: 15px 15px 0;
}

#block-dkan-dataset-dkan-dataset-dataset-help .content {
  padding: 10px;
}

#block-dkan-forms-dkan-forms-dataset-help h2:before {
  content: "\F05A";
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: 1.2em;
  line-height: 1;
  position: relative;
  top: 1px;
  margin-right: 0.4em;
}

.pane-dkan-sitewide-dkan-demo-front,
#block-dkan-sitewide-demo-front-dkan-demo-front {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}
.pane-dkan-sitewide-dkan-demo-front p,
#block-dkan-sitewide-demo-front-dkan-demo-front p {
  color: #fff;
  padding: 15px;
}
.pane-dkan-sitewide-dkan-demo-front .media-overlay,
#block-dkan-sitewide-demo-front-dkan-demo-front .media-overlay {
  position: relative;
  padding: 0;
}
.pane-dkan-sitewide-dkan-demo-front .media-overlay img,
#block-dkan-sitewide-demo-front-dkan-demo-front .media-overlay img {
  width: 100%;
  height: auto;
}
.pane-dkan-sitewide-dkan-demo-front .media-overlay .media-heading,
#block-dkan-sitewide-demo-front-dkan-demo-front .media-overlay .media-heading {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #FFFFFF;
  font-size: 13px;
  left: 0;
  line-height: 18px;
  margin: 0;
  padding: 12px 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.radix-layouts-sidebar .pane-dkan-sitewide-dkan-sitewide-social.pane-block .pane-content {
  padding: 0;
}
.radix-layouts-sidebar .pane-dkan-sitewide-dkan-sitewide-social.pane-block .pane-content li.last a:hover {
  border-radius: 0 0 3px 3px;
}

.pane-dkan-sitewide-dkan-sitewide-resource-add table {
  margin-top: 0;
}

.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner .panels-ipe-portlet-wrapper:first-child h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner > div[class*=pane-facetapi]:first-child h2.pane-title {
  border-radius: 5px 5px 0 0;
}
.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner .panels-ipe-portlet-wrapper:last-child .ctools-collapsed h2.pane-title, .panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner .panels-ipe-portlet-wrapper:last-child.ctools-collapsed h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner > div[class*=pane-facetapi]:last-child .ctools-collapsed h2.pane-title,
.panel-region-sidebar .radix-layouts-sidebar .panel-panel-inner > div[class*=pane-facetapi]:last-child.ctools-collapsed h2.pane-title {
  border-radius: 0 0 5px 5px;
}

.print-link:before {
  font-family: "Font Awesome 5 Free";
  content: "\F02F";
  margin-right: 5px;
}

.node-type-dataset .field-name-field-tags {
  margin: 1em 0;
}
.node-type-dataset h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.node-type-dataset .field-name-field-related-content .field-label,
.node-type-dataset .field-name-field-topic .field-label,
.node-type-dataset .field-name-field-tags .field-label,
.node-type-dataset .field-name-field-topic .field-label,
.node-type-dataset .field-name-field-preview-thumbail .field-label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

/** UI Tabs **/
.node-resource-form .horizontal-tabs {
  border: none;
}
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list {
  background-color: transparent;
  border: 0;
  padding-top: 10px;
}
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li,
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li.selected {
  border: 0;
  background-color: transparent;
  min-width: 4em;
}
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li a:hover,
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li.selected a:hover {
  background: transparent;
}
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li #active-horizontal-tab,
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li.selected #active-horizontal-tab {
  background: url(../images/sprite-ckan-icons.png) no-repeat -193px 2px;
  display: block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  left: 50%;
  clip: auto;
}
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-1 .summary, .node-resource-form .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-2 .summary,
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li.selected.horizontal-tab-button-1 .summary,
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li.selected.horizontal-tab-button-2 .summary {
  background: url(../images/sprite-ckan-icons.png) no-repeat -160px 0;
}
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li .summary,
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li.selected .summary {
  background: url(../images/sprite-ckan-icons.png) no-repeat -144px 0;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  left: 10px;
}
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li a,
.node-resource-form .horizontal-tabs ul.horizontal-tabs-list li.selected a {
  font-size: 1.1em;
  position: relative;
  padding: 5px 15px 5px 30px;
}
.node-resource-form .horizontal-tabs .horizontal-tabs-panes {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 8px;
}
.node-resource-form .horizontal-tabs .horizontal-tabs-panes fieldset.htab_link_upload legend.panel-heading,
.node-resource-form .horizontal-tabs .horizontal-tabs-panes fieldset.htab_link_api legend.panel-heading,
.node-resource-form .horizontal-tabs .horizontal-tabs-panes fieldset.htab_link_file legend.panel-heading {
  display: none;
}
.node-resource-form .horizontal-tabs .horizontal-tabs-panes fieldset.htab_link_upload .field-widget-recline-widget legend.panel-heading,
.node-resource-form .horizontal-tabs .horizontal-tabs-panes fieldset.htab_link_api .field-widget-recline-widget legend.panel-heading,
.node-resource-form .horizontal-tabs .horizontal-tabs-panes fieldset.htab_link_file .field-widget-recline-widget legend.panel-heading {
  border: none;
  border-bottom: 1px solid #ddd;
  display: block;
  background: transparent;
  color: #555555;
  padding: 5px 0;
}
.node-resource-form .horizontal-tabs .horizontal-tabs-panes .form-type-checkbox label,
.node-resource-form .horizontal-tabs .horizontal-tabs-panes .form-type-select label {
  display: block;
  line-height: 36px;
  padding-top: 2px;
}
.node-resource-form .horizontal-tabs .horizontal-tabs-panes .filefield-source-remotefile input {
  margin-right: 0;
}
.node-resource-form .horizontal-tabs .horizontal-tabs-panes .filefield-source-remotefile input.btn {
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
}
.node-resource-form .horizontal-tabs .horizontal-tabs-panes .form-item-field-upload-und-0-embed {
  clear: both;
}

.page-node-add-resource .field-group-htabs.group-data div.horizontal-tabs {
  border: 0;
}
.page-node-add-resource .field-group-htabs.group-data div.horizontal-tabs .form-item {
  margin: 0;
}

#action-info {
  color: #d9534f;
  margin: 1em 0;
}
#action-info:before {
  color: #d9534f;
  content: "\F071";
  font-family: "Font Awesome 5 Free";
  font-size: 1.5em;
  font-style: normal;
  margin-right: 5px;
  vertical-align: middle;
}

.field-name-body a {
  overflow-wrap: break-word;
}
.field-name-body ul {
  list-style-type: disc;
  margin: 10px 20px;
}
.field-name-body ul li {
  margin: 6px 10px;
}

.field-group-table-description {
  color: #555555;
  display: block;
  padding: 8px 10px 8px 40px;
  position: relative;
}
.field-group-table-description .icon-info-sign:before {
  color: #999999;
  content: "\F05A";
  font-family: "Font Awesome 5 Free";
  font-size: 2.5em;
  font-style: normal;
  height: 30px;
  left: 0;
  margin: 10px 15px 0 0;
  padding: 6px 0;
  position: absolute;
  top: -6px;
  width: 30px;
}

.group-owner-message {
  margin-bottom: 20px;
}

.field-type-text-with-summary {
  padding: 0;
}

.field-name-field-additional-info {
  margin-top: 2em;
}

.field-name-field-related-content .field-item a {
  border: 1px solid #ddd;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
}
.field-name-field-related-content .field-item a:hover {
  color: #ffffff;
  text-decoration: none;
  background: #002245;
}
.field-name-field-related-content .field-item:first-of-type a {
  border-radius: 4px 4px 0px 0px;
}
.field-name-field-related-content .field-item:last-of-type a {
  border-radius: 0px 0px 4px 4px;
}

.node-teaser {
  margin-bottom: 2em;
}
.node-teaser .blog-image div {
  background-size: cover !important;
  overflow: hidden;
  position: relative;
  height: 200px;
  margin-bottom: 1em;
}
@media all and (max-width: 767px) {
  .node-teaser .blog-image div {
    background-position: 50% 50%;
  }
}
.node-teaser h2.blog-title {
  font-size: 1.5em;
  margin-top: 0;
}
.node-teaser .submitted {
  color: #777;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0 0 1em 0;
  padding: 0.5em 0;
  font-size: 0.8em;
}
.node-teaser .fa-clock-o {
  padding-left: 1em;
}
.node-teaser .links {
  margin: -0.5em 0 2.5em 0;
}
.node-teaser .links li {
  display: inline;
}
.node-teaser .links li a {
  font-size: 0.8em;
  padding: 1px 8px;
}
.node-teaser.no-image {
  padding-left: 15px;
  padding-right: 15px;
}

.node-blog .submitted {
  color: #777;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0 0 1em 0;
  padding: 0.5em 0;
}
.node-blog .blog-image {
  margin: 1em 0;
}
.node-blog .blog-image img {
  max-width: 100%;
  height: auto;
}
.node-blog .fa-clock-o {
  padding-left: 1em;
}
.node-blog .field-name-field-tags {
  margin: 1em 0;
}
.node-blog .links li {
  display: inline;
}
.node-blog .links li a {
  display: inline-block;
  margin: 1em 0;
}
.node-blog .field-name-field-tags .field-label {
  display: none;
}
@media all and (min-width: 768px) {
  .node-blog h1 {
    width: 47%;
    float: left;
  }
  .node-blog .submitted {
    width: 47%;
    float: left;
    clear: left;
  }
  .node-blog .blog-image {
    width: 47%;
    float: right;
    margin: 0 0 1em 1.5em;
  }
  .node-blog .field-type-text-with-summary {
    clear: left;
  }
  .node-blog .no-image h1,
.node-blog .no-image .submitted {
    width: 100%;
  }
  .node-blog .no-image .field-type-text-with-summary {
    clear: both;
  }
}

.block--sitebranding {
  padding: 15px 0;
}

.table-select-processed .checkbox input[type=checkbox],
.permissions-processed .checkbox input[type=checkbox] {
  margin-left: 0px;
}

input[type=submit],
.btn-primary,
.btn.btn-primary {
  margin-right: 1em;
}

input.use-ajax-submit {
  margin-right: 10px;
}

button.btn,
.btn.btn-default,
.btn.btn-primary,
.tabs--primary.nav-pills li a,
.form-control {
  line-height: 1.5em;
}

.btn, .btn-sm {
  font-size: 14px;
}

select.form-control {
  min-height: 36px;
}
select.form-control[multiple=multiple] {
  height: auto;
}

.form-control,
div.autocomplete-deluxe-multiple {
  padding: 0 12px;
}

.ctools-dropbutton .ctools-content a,
.ctools-dropbutton input.btn,
.ctools-dropbutton input[type=submit] {
  color: #666;
}
.ctools-dropbutton .ctools-content a:hover, .ctools-dropbutton .ctools-content a:focus, .ctools-dropbutton .ctools-content a:active,
.ctools-dropbutton input.btn:hover,
.ctools-dropbutton input.btn:focus,
.ctools-dropbutton input.btn:active,
.ctools-dropbutton input[type=submit]:hover,
.ctools-dropbutton input[type=submit]:focus,
.ctools-dropbutton input[type=submit]:active {
  border: none;
  color: #002245;
}

.field-type-file input[type=submit],
.input-group-addon,
.input-group-btn {
  width: auto;
}

.colorizer-form .form-control {
  width: 50%;
}
.colorizer-form label {
  float: none;
  display: block;
}
.colorizer-form #palette {
  clear: both;
}
.colorizer-form #palette .item-selected {
  background-color: transparent;
}

.bue-popup {
  z-index: 999;
}

.bue-ui.editor-container {
  background-color: #ffffff;
  padding: 0 4px;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}

.form-control.form-textarea {
  border-radius: 0;
}

.form-control.chosen-processed {
  line-height: 34px;
  height: auto;
  padding: 0;
  border: none;
  max-width: 100% !important;
}
.form-control.chosen-processed .chosen-choices {
  border-radius: 4px;
  border-color: #ccc;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background-position: -42px 2px;
}

.chzn-container-single {
  max-width: 100%;
}

div.autocomplete-deluxe-multiple,
.chzn-container-multi {
  width: 100% !important;
}

.chzn-container-multi .chzn-choices .search-field input {
  height: auto;
}

#context-blockform td.blocks .label {
  background-color: #555555;
}

.tabledrag-hide .chzn-container-single {
  width: 20px !important;
}

div.autocomplete-deluxe-container input.autocomplete-deluxe-form-single {
  float: left;
}

fieldset {
  position: relative;
}

fieldset.collapsible {
  padding-top: 0;
}

#og-group-ref-add-more-wrapper fieldset,
fieldset.group-primary {
  padding-top: 0;
}
#og-group-ref-add-more-wrapper fieldset legend,
fieldset.group-primary legend {
  display: none;
}

.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 0;
}

div.horizontal-tabs {
  border: none;
}

.form-managed-file span.file {
  border: 1px solid #ddd;
  padding: 0 15px;
  line-height: 34px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px 0 0 5px;
  margin-right: 0;
}
.form-managed-file .file-size {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  vertical-align: top;
  line-height: 34px;
  display: inline-block;
  font-size: 12px;
  margin: 0 -5px;
  background: #eee;
}
.form-managed-file input {
  border-radius: 4px 0 0 4px;
  border: 1px solid #ddd;
  margin: 0 0 10px 0;
  height: 36px;
  vertical-align: top;
}
.form-managed-file input.form-submit {
  margin: 0 0 10px 0;
}
.form-managed-file .filefield-source-remotefile input.form-control:first-child {
  border-radius: 4px;
}
.form-managed-file .filefield-source-remotefile input.form-text {
  width: 100%;
}
.form-managed-file .input-group-btn {
  display: inline-block;
  vertical-align: top;
}
.form-managed-file .manualcrop-style-button-holder input {
  border-radius: 5px;
}

.path-form.panel-default {
  border-color: transparent;
}
.path-form.panel-default .panel-body {
  padding: 0;
}

.list-group-item {
  background-color: transparent;
  border: none;
  color: #333333;
  padding: 0;
}

.filter-wrapper {
  padding: 10px;
}
.filter-wrapper .input-group-addon {
  border: none;
  background: transparent;
}

#body-add-more-wrapper .panel-body {
  padding: 0;
}

.node-dataset-form .group-odfie-pod .form-item {
  margin-bottom: 0px;
}
.node-dataset-form .group-odfie-pod .field-name-field-odfe-data-quality {
  margin-bottom: 15px;
}

.node-dataset-form .form-item.has-error div.autocomplete-deluxe-container,
.node-dataset-form .form-item.has-error div.chosen-container {
  border: 2px solid red;
}
.node-dataset-form .form-item.has-error div.autocomplete-deluxe-container .chosen-single,
.node-dataset-form .form-item.has-error div.chosen-container .chosen-single {
  border: none;
}

.node-dataset-form .form-item .error .chosen-single {
  line-height: 24px;
}

.node-dataset-form .field-name-field-format label,
.node-resource-form .field-name-field-format label {
  vertical-align: top;
}
@media all and (max-width: 599px) {
  .node-dataset-form .stages li .highlight,
.node-resource-form .stages li .highlight {
    font-size: 12px;
    line-height: 1.15em;
  }
}

.node-resource-form #edit_og_group_ref_und_chosen {
  width: 100% !important;
}

.node-resource-form .field-name-field-upload .form-type-managed-file {
  display: table;
}
.node-resource-form .field-name-field-upload .form-type-managed-file .file-widget {
  display: table-footer-group;
}
.node-resource-form .field-name-field-upload .form-type-managed-file .file-resup-wrapper {
  display: table-header-group;
}

.node-resource-form .field-name-body textarea {
  height: auto;
}

#search-api-admin-index-status-form input {
  margin-bottom: 1em;
}

.page-admin form input[type=submit] {
  margin-right: 1em;
}

#field-dkan-harvest-filters-values .description,
#field-dkan-harvest-excludes-values .description,
#field-dkan-harvest-overrides-values .description,
#field-dkan-harvest-defaults-values .description {
  font-weight: normal;
}

#dkan-dataset-form-settings .help-block {
  margin: 5px 20px 10px;
}

.form-required::after {
  background-image: url(../images/required.svg);
  background-size: 10px 7px;
  content: "";
  display: inline-block;
  line-height: 1;
  height: 7px;
  width: 10px;
}

.dataset_content {
  margin: 10px 0;
}
.dataset_content .dataset_side_menu {
  padding-left: 0;
}
.dataset_content img.open-data.od-link {
  display: block;
}
.dataset_content .dataset__title {
  border-bottom: 1px solid #ededed;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
}
.dataset_content .pane-block {
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 0px;
}
.dataset_content .dataset__publisher {
  background-color: transparent;
  margin: 0;
  padding: 15px;
}
.dataset_content .dataset__publisher .dataset__license p {
  margin: 0;
}
.dataset_content .dataset__publisher .publisher__field-image {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
}
.dataset_content .dataset__publisher .publisher__label {
  font-size: 1.2em;
  margin: 7px 0;
  font-weight: 400;
}
.dataset_content .dataset__publisher .views-field-field-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.dataset_content .dataset__publisher .mt-3 {
  margin-top: 0 !important;
}
.dataset_content .dataset_license_side .dataset__license {
  background-color: transparent;
  margin: 0;
  padding: 15px;
}
.dataset_content .dataset_license_side .dataset__license a {
  word-break: break-word;
}
.dataset_content .dataset_publisher_side h2,
.dataset_content .dataset_license_side h2,
.dataset_content .dataset_location_side h2,
.dataset_content .dataset_api_links_side h2 {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  padding: 7px 10px;
  font-weight: normal;
  background-color: #002245;
  color: white;
}
.dataset_content .dataset_publisher_side .block > :not(h2),
.dataset_content .dataset_license_side .block > :not(h2),
.dataset_content .dataset_location_side .block > :not(h2),
.dataset_content .dataset_api_links_side .block > :not(h2) {
  padding: 7px;
}
.dataset_content .dataset_field_info tbody th {
  width: 21%;
}
.dataset_content .dataset_field_info p {
  margin: 0;
}
.dataset_content .dataset_harvest {
  margin-top: 30px;
}
.dataset_content .dataset_harvest .harvest_from {
  margin: 0;
  color: grey;
}
.dataset_content .dataset_harvest .table-striped {
  margin-top: 0;
}
.dataset_content .dataset_harvest .table-striped tbody th {
  width: 27%;
}
.dataset_content .dataset__related-content .field__label {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}
.dataset_content .dataset__related-content .field__item {
  border: 1px solid #ddd;
  padding: 10px 20px;
}
.dataset_content .dataset__topic {
  display: flex;
}
.dataset_content .dataset__topic .field__item {
  margin-right: 15px;
}

.field-name-field-tags .field-item {
  display: inline-block;
}

.field-name-field-tags label {
  display: block;
}
.field-name-field-tags input.form-control {
  height: auto;
}
.field-name-field-tags .field-item a {
  display: inline-block;
  padding: 2px 10px 2px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 0 5px 5px 0;
  background-color: #F3F3F3;
  margin: 3px 5px 3px 20px;
  position: relative;
  color: #333333;
  border: 1px solid #ddd;
  border-left: 0;
  z-index: 2;
}
.field-name-field-tags .field-item a:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #F3F3F3;
  border-radius: 2px;
  position: absolute;
  top: 2px;
  left: -9px;
  z-index: -1;
  border: 1px solid #ddd;
  border-top: none;
  border-right: none;
}
.field-name-field-tags .field-item a:before {
  content: "";
  width: 2px;
  height: 2px;
  background: #999999;
  position: absolute;
  top: 11px;
  left: -5px;
  border-radius: 0;
}
.field-name-field-tags .field-item a:hover,
.field-name-field-tags .field-item a:hover:after {
  background: #fff;
  color: #000;
  text-decoration: none;
}

.field-name-field-topic .field-item {
  margin: 0 1.5em 0.5em 0;
}
.field-name-field-topic .field-item .field-item {
  margin: 0;
}

.field-name-field-topic-icon span::before,
.view-dkan-datasets .field-name-field-topic-icon span::before {
  font-size: 18px;
}

.font_icon_select_options .label {
  color: #333;
}

.data-and-resource-block {
  margin-bottom: 1em;
}
.data-and-resource-block header p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.data-and-resource-block .views-field-resource-format .dataset_ref {
  display: flex;
  align-items: center;
}
.data-and-resource-block .views-field-resource-format .dataset_ref a.link_to_resource:hover {
  text-decoration: unset;
}
.data-and-resource-block .views-field-resource-format .dataset_ref .text-body p:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .data-and-resource-block .views-field-resource-format .dataset_ref .left-content {
    width: 100%;
  }
  .data-and-resource-block .views-field-resource-format .dataset_ref .left-content .text-body {
    width: 55%;
  }
}
@media only screen and (min-width: 1200px) {
  .data-and-resource-block .views-field-resource-format .dataset_ref .text-body {
    width: 65%;
  }
}
.data-and-resource-block .views-field-resource-format .dataset_ref .dataset_btn {
  position: absolute;
}
.data-and-resource-block .views-field-resource-format .dataset_ref .dataset_btn .data-link a {
  color: white;
}
.data-and-resource-block .views-field-resource-format .dataset_ref .dataset_btn .preview_btn:before {
  content: "\F080";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  margin-right: 5px;
}
.data-and-resource-block .views-field-resource-format span .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0.9;
  width: auto;
  padding: 0 5px;
  left: 5px;
}
.data-and-resource-block .views-field-resource-format span .tooltiptext:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 12px 0 12px 10px;
  border-color: transparent black;
  display: block;
  width: 0;
  z-index: 1;
  right: 34%;
  top: -14px;
  transform: rotate(-90deg);
}
.data-and-resource-block .views-field-resource-format span:hover .tooltiptext {
  visibility: visible;
}
.data-and-resource-block .views-field-resource-format span:before {
  font-family: "dkan-flaticon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
}
.data-and-resource-block .views-field-resource-format .format-label[data-format=xls]:before {
  content: "\E6AF";
  color: #2db55d;
}
.data-and-resource-block .views-field-resource-format .format-label[data-format=zip]:before {
  content: "\E6B3";
  color: #686868;
}
.data-and-resource-block .views-field-resource-format .format-label[data-format=tsv]:before {
  content: "\E900";
  color: #6f5191;
}
.data-and-resource-block .views-field-resource-format .format-label[data-format=rest]:before, .data-and-resource-block .views-field-resource-format .format-label[data-format=openxml]:before, .data-and-resource-block .views-field-resource-format .format-label[data-format=excel]:before,
.data-and-resource-block .views-field-resource-format .format-label[data-format=esri]:before, .data-and-resource-block .views-field-resource-format .format-label[data-format=arcgis]:before {
  content: "\E626";
  color: olive;
}
.data-and-resource-block .views-field-resource-format .format-label[data-format=pdf]:before {
  content: "\E67B";
  color: #e0051e;
}
.data-and-resource-block .views-field-resource-format .format-label[data-format=kml]:before {
  content: "\E654";
  color: #3F6EA5;
}
.data-and-resource-block .views-field-resource-format .format-label[data-format=geojson]:before {
  content: "\E923";
  color: #ef7100;
}
.data-and-resource-block .views-field-resource-format .format-label[data-format=csv]:before {
  content: "\E622";
  color: #dfb100;
}
.data-and-resource-block .views-field-resource-format .format-label:before {
  content: "\E626";
  color: olive;
}

.dataset-links {
  list-style: none;
  color: #aeaeae;
  counter-reset: stage;
  padding: 0;
  overflow: hidden;
  margin: 0 0 20px;
}
.dataset-links li {
  font-size: 14px;
  box-sizing: border-box;
  line-height: 27px;
  counter-increment: stage;
  width: 33.33%;
  float: left;
  padding: 10px;
  position: relative;
  z-index: 0;
  color: #666;
  background-color: #ededed;
}
.dataset-links li.active {
  background: none;
}
.dataset-links li.active:before {
  color: #8cc68a;
  background: #ffffff;
}
.dataset-links li.active a {
  background: #8cc68a;
  color: white;
}
.dataset-links li.complete a {
  background: #C5E2C6;
  color: #666;
}
.dataset-links li.complete:before {
  color: #666;
  background: #eef6ed;
}
.dataset-links li.complete:after {
  border-color: rgba(197, 226, 196, 0);
  border-top-color: #c5e2c4;
  border-bottom-color: #c5e2c4;
}
.dataset-links li.uncomplete a {
  color: #666;
}
.dataset-links li:before {
  border-radius: 14px;
  content: counter(stage);
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 5px;
  font-weight: bold;
  text-align: center;
  background-color: #d5d5d5;
  z-index: 1;
}
.dataset-links li a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 42px;
  border: none;
  text-align: left;
  text-decoration: none;
  line-height: 27px;
  z-index: -1;
}
.dataset-links li.first a {
  border-radius: 5px 0 0 5px;
}
.dataset-links li.first:after {
  content: none;
}
.dataset-links li:after {
  left: 0;
  border: solid rgba(237, 237, 237, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #ededed;
  border-bottom-color: #ededed;
  border-width: 29px;
  top: 50%;
  margin-top: -29px;
  margin-left: -30px;
}
.dataset-links li.middle.active:after, .dataset-links li.last.active:after {
  border-color: rgba(140, 198, 138, 0);
  border-top-color: #8cc68a;
  border-bottom-color: #8cc68a;
}

#dataset-add-dataset-form {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #CDCDCD;
  padding: 15px;
}
#dataset-add-dataset-form label {
  font-weight: bold;
}
#dataset-add-dataset-form .field--name-tags #tags-values tr th.field-label h4, #dataset-add-dataset-form .field--name-tags #topic-values tr th.field-label h4, #dataset-add-dataset-form .field--name-topic #tags-values tr th.field-label h4, #dataset-add-dataset-form .field--name-topic #topic-values tr th.field-label h4 {
  max-width: 100%;
  margin: 5px 0;
  font-weight: bold;
  font-size: 16px;
}
#dataset-add-dataset-form .field--name-tags #tags-values tr:hover, #dataset-add-dataset-form .field--name-tags #topic-values tr:hover, #dataset-add-dataset-form .field--name-topic #tags-values tr:hover, #dataset-add-dataset-form .field--name-topic #topic-values tr:hover {
  background: none;
}

#resource-form .horizontal-tab-button {
  background: none;
  border: none;
}
#resource-form .horizontal-tab-button .summary {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#resource-form .horizontal-tab-button #active-horizontal-tab {
  background: url("../../../ekan_theme/assets/images/sprite-ckan-icons.png") no-repeat -193px 2px;
  display: block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  left: 50%;
  clip: auto;
}
#resource-form .horizontal-tab-button a:hover {
  background-color: #fffece;
}
#resource-form .horizontal-tab-button-0 .summary {
  background: url("../../../ekan_theme/assets/images/sprite-ckan-icons.png") no-repeat -144px 0;
}
#resource-form .horizontal-tab-button-1 .summary, #resource-form .horizontal-tab-button-2 .summary {
  background: url("../../../ekan_theme/assets/images/sprite-ckan-icons.png") no-repeat -160px 0;
}
#resource-form .horizontal-tabs-list {
  background-color: transparent;
  border: 0;
  padding-top: 10px;
}
#resource-form .horizontal-tabs-list a {
  font-size: 1.1em;
  position: relative;
  padding: 5px 15px 5px 30px;
}
#resource-form .horizontal-tabs-panes {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 8px;
}
#resource-form .selected a {
  color: #3B3B3B !important;
}
#resource-form label {
  font-weight: bold;
}
#resource-form .field--name-dataset-ref #dataset-ref-values tr th.field-label h4 {
  max-width: 100%;
  margin: 5px 0;
  font-weight: bold;
  font-size: 16px;
}
#resource-form .field--name-dataset-ref #dataset-ref-values tr:hover {
  background: none;
}

#dataset-additional-info-form label {
  font-weight: bold;
}
#dataset-additional-info-form .field--name-additional-info #additional-info-values tr th.field-label h4, #dataset-additional-info-form .field--name-additional-info #related-content-values tr th.field-label h4, #dataset-additional-info-form .field--name-related-content #additional-info-values tr th.field-label h4, #dataset-additional-info-form .field--name-related-content #related-content-values tr th.field-label h4 {
  max-width: 100%;
  margin: 5px 0;
  font-weight: bold;
  font-size: 16px;
}
#dataset-additional-info-form .field--name-additional-info #additional-info-values tr:hover, #dataset-additional-info-form .field--name-additional-info #related-content-values tr:hover, #dataset-additional-info-form .field--name-related-content #additional-info-values tr:hover, #dataset-additional-info-form .field--name-related-content #related-content-values tr:hover {
  background: none;
}

.views-field-topic-target-id-1 ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.views-field-topic-target-id-1 ul li {
  margin-right: 15px;
}

.fa-download:before {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 600;
  margin-right: 0.5em;
}

.fa-bar-chart:before {
  content: "\F080";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 600;
  margin-right: 0.5em;
}

.inline-tags,
.dataset-tags .views-row {
  display: inline-block;
}
.inline-tags a,
.dataset-tags .views-row a {
  display: inline-block;
  padding: 2px 10px 2px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 0 5px 5px 0;
  background-color: #F3F3F3;
  margin: 3px 5px 3px 20px;
  position: relative;
  color: #333333;
  border: 1px solid #ddd;
  border-left: 0;
  z-index: 2;
}
.inline-tags a:after,
.dataset-tags .views-row a:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #F3F3F3;
  transform: rotate(45deg);
  border-radius: 2px;
  position: absolute;
  top: 2px;
  left: -9px;
  z-index: -1;
  border: 1px solid #ddd;
  border-top: none;
  border-right: none;
}
.inline-tags a:before,
.dataset-tags .views-row a:before {
  content: "";
  width: 2px;
  height: 2px;
  background: #999999;
  position: absolute;
  top: 11px;
  left: -5px;
  webkit-border-radius: 0;
  border-radius: 0;
}
.inline-tags a:hover, .inline-tags a:hover:after,
.dataset-tags .views-row a:hover,
.dataset-tags .views-row a:hover:after {
  background: #fff;
  color: #000;
  text-decoration: none;
}

#logo {
  display: block;
  float: left;
  margin-right: 15px;
  height: 100%;
  width: auto;
}

#site-name {
  float: left;
}

.page-header {
  margin: 0 0 18px;
}
.page-header h1 {
  margin: 0;
}

.page-title-hidden .page-header {
  display: none;
}

.breadcrumb a i {
  display: none;
}

.tabs,
.nav-tabs {
  margin: 0 0 18px;
}

.action-links {
  list-style: none outside none;
  margin: 0 0 18px;
  padding: 0;
}
.action-links::after {
  display: block;
  clear: both;
  content: "";
}
.action-links > li {
  float: left;
  margin: 0 10px 0 0;
}

div.vertical-tabs {
  border: none;
  border: 1px solid #DDD;
  outline: none;
  border-radius: 4px;
}
div.vertical-tabs ul.vertical-tabs-list {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}
div.vertical-tabs ul.vertical-tabs-list li {
  border: none;
  background: none;
  outline: none !important;
  border-radius: 4px 0 0 4px;
  border: 1px solid;
  border-color: #fff #ddd #fff #fff;
}
div.vertical-tabs ul.vertical-tabs-list li.selected {
  border-color: #ddd #fff #ddd #ddd;
}
div.vertical-tabs ul.vertical-tabs-list li a {
  outline: none !important;
  border-radius: 4px 0 0 4px;
}
div.vertical-tabs ul.vertical-tabs-list li a:hover {
  color: #fff;
  background: #145b98;
  text-decoration: none;
}
div.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: none;
  color: #fff;
}
div.vertical-tabs .vertical-tabs-panes {
  padding: 20px 10px;
}
div.vertical-tabs .form-type-textfield input {
  width: 90%;
  box-sizing: content-box;
}

table {
  width: 100%;
  margin-bottom: 2;
}
table th,
table td {
  padding: 8px;
  line-height: 2;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th.checkbox,
table td.checkbox {
  text-align: center;
  display: table-cell;
  min-height: 0;
  margin-bottom: 0;
  padding-left: 0;
}
table th.checkbox input,
table td.checkbox input {
  float: none !important;
  margin-left: 0 !important;
}
table th.checkbox div.checkbox,
table td.checkbox div.checkbox {
  text-align: center;
  min-height: 0;
  margin-bottom: 0;
  padding-left: 0;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}

ul.links {
  padding: 0;
  list-style: none outside none;
}
ul.links.inline {
  margin: 0;
}
ul.links.inline li {
  margin: 0 10px 0 0;
  padding: 0;
}

.carousel .carousel-control {
  z-index: 100;
}
.carousel .carousel-indicators li {
  float: none;
  margin-left: 3px;
  margin-right: 3px;
}
.carousel .carousel-indicators li a {
  display: none;
}
.carousel .carousel-caption h1, .carousel .carousel-caption h2, .carousel .carousel-caption h3, .carousel .carousel-caption h4, .carousel .carousel-caption h5, .carousel .carousel-caption h6 {
  color: white;
}

.item-list ul.pagination {
  margin: 20px 0;
}
.item-list ul.pagination > li {
  margin: 0;
  display: inline-block;
  padding: 0;
  position: relative;
}
.item-list ul.pagination > li > a, .item-list ul.pagination > li > span {
  padding: 6px 12px;
  border-radius: inherit;
}
.item-list ul.pagination > li > a.progress-disabled, .item-list ul.pagination > li > span.progress-disabled {
  float: left;
}
.item-list ul.pagination > li .ajax-progress {
  float: left;
  padding: 6px 5px 6px 10px;
}

.ctools-dropdown-container hr {
  margin: 0;
}

ul.nav,
ul.navl li,
ul.dropdown-menu,
ul.dropdown-menu li {
  list-style: none outside none !important;
}

.calendar-calendar table.mini td {
  border: 1px solid #eeeeee !important;
  padding: 5px;
}

.view-header .date-nav-wrapper h3 {
  margin-top: 5px !important;
  margin-bottom: 0;
}

.ui-tabs .ui-tabs-nav {
  padding: 0 5px 5px 5px;
}

.resource_content {
  margin: 10px 0;
}
.resource_content .file--mime-application-pdf:before {
  content: "\F1C1";
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-right: 10px;
}
.resource_content .file--mime-image-jpeg:before, .resource_content .file--mime-image-png:before, .resource_content .file--mime-image-jpeg:before {
  content: "\F1C5";
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-right: 10px;
}
.resource_content .file--mime-text-plain:before, .resource_content .file--mime-application-msword:before, .resource_content .file--x-office-document:before {
  content: "\F15C";
  /* You should use \ and not /*/
  font-family: "Font Awesome 5 Free";
  /* This is the correct font-family*/
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-right: 10px;
}

.related-resource h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.related-resource a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: black;
  margin-bottom: 10px;
}
.related-resource a:last-child {
  border-radius: 4px;
}
.related-resource a.active {
  background-color: #002245;
  color: white;
}
.related-resource .views-field-dataset-ref-target-id ol {
  list-style: none;
  padding: 0;
}

#resource-add-form .horizontal-tab-button {
  background: none;
  border: none;
}
#resource-add-form .horizontal-tab-button .summary {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#resource-add-form .horizontal-tab-button #active-horizontal-tab {
  background: url("../../../ekan_theme/assets/images/sprite-ckan-icons.png") no-repeat -193px 2px;
  display: block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  left: 50%;
  clip: auto;
}
#resource-add-form .horizontal-tab-button a:hover {
  background-color: #fffece;
}
#resource-add-form .horizontal-tab-button-0 .summary {
  background: url("../../../ekan_theme/assets/images/sprite-ckan-icons.png") no-repeat -144px 0;
}
#resource-add-form .horizontal-tab-button-1 .summary, #resource-add-form .horizontal-tab-button-2 .summary {
  background: url("../../../ekan_theme/assets/images/sprite-ckan-icons.png") no-repeat -160px 0;
}
#resource-add-form .horizontal-tabs-list {
  background-color: transparent;
  border: 0;
  padding-top: 10px;
}
#resource-add-form .horizontal-tabs-list a {
  font-size: 1.1em;
  position: relative;
  padding: 5px 15px 5px 30px;
}
#resource-add-form .horizontal-tabs-panes {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 8px;
}
#resource-add-form .selected a {
  color: #3B3B3B !important;
}
#resource-add-form label {
  font-weight: bold;
}
#resource-add-form .field--name-dataset-ref #dataset-ref-values tr th.field-label h4 {
  max-width: 100%;
  margin: 5px 0;
  font-weight: bold;
  font-size: 16px;
}
#resource-add-form .field--name-dataset-ref #dataset-ref-values tr:hover {
  background: none;
}

.resource-additional-info h2 {
  font-weight: 300;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 2rem;
  line-height: 1.1;
}
.resource-additional-info table {
  margin-top: -5px;
}
.resource-additional-info table tbody tr:nth-child(even) {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

.resource-blocks {
  display: flex;
}
.resource-blocks .left-block {
  padding-left: 0;
}
.resource-blocks .right-block {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .resource-blocks {
    display: block;
  }
}
.page_main-content #views-exposed-form-search-box-page-1 #edit-actions {
  position: absolute;
  right: 0;
  top: 45px;
}
.page_main-content #views-exposed-form-search-box-page-1 #edit-actions input#edit-submit-ekan-search {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
.page_main-content .page__content .search-page .search-result .icon {
  font-size: 42px;
  color: #145b98;
}
.page_main-content .page__content .search-page .search-result .views-field-publisher {
  color: #999999;
}
.page_main-content .page__content .search-page form#views-exposed-form-ekan-search-page-1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 1em;
}
.page_main-content .page__content .search-page form#views-exposed-form-ekan-search-page-1 .form-group {
  margin: 0;
}
.page_main-content .page__content .search-page form#views-exposed-form-ekan-search-page-1 label {
  font-weight: bold;
}
.page_main-content .page__content .search-page form#views-exposed-form-ekan-search-page-1 .form-item-s {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.page_main-content .page__content .search-page form#views-exposed-form-ekan-search-page-1 .form-item-sort-by,
.page_main-content .page__content .search-page form#views-exposed-form-ekan-search-page-1 .form-item-sort-order {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.page_main-content .page__content .search-page form#views-exposed-form-ekan-search-page-1 .form-actions {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  max-width: 25%;
}
@media screen and (max-width: 768px) {
  .page_main-content .page__content .search-page form#views-exposed-form-ekan-search-page-1 .form-group {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.page_main-content .page__content .search-page .views-row {
  padding: 20px 0;
  border-bottom: 0.5px dotted lightgrey;
}
.page_main-content .page__content .search-page .views-field-title, .page_main-content .page__content .search-page .views-field-title-1, .page_main-content .page__content .search-page .views-field-title-2 {
  margin-bottom: 0.5em;
}
.page_main-content .page__content .search-page .views-field-title a, .page_main-content .page__content .search-page .views-field-title-1 a, .page_main-content .page__content .search-page .views-field-title-2 a {
  font-size: 30px;
  font-weight: 400;
}
.page_main-content .page__content .search-page .views-field-topic {
  margin: 8px 0;
}
.page_main-content .page__content .search-page .views-field-topic .field-content {
  display: flex;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats,
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 {
  font-size: 0.85em;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a,
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a {
  background-color: olive;
  border-radius: 3px;
  color: white;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  margin: -3px 2px 0;
  padding: 1px 4px 2px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: baseline;
  white-space: nowrap;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=pdf],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=pdf] {
  background-color: #e0051e;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=csv],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=csv] {
  background-color: #a64300;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=zip],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=zip] {
  background-color: #686868;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=xls],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=xls] {
  background-color: #018931;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=kml],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=kml] {
  background-color: #3F6EA5;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=html],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=html] {
  background-color: #317daa;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=jpeg], .page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=jpg],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=jpeg],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=jpg] {
  background-color: blue;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=json], .page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=geojson], .page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=xml],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=json],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=geojson],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=xml] {
  background-color: #d14900;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=txt], .page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=text],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=txt],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=text] {
  background-color: #015924;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=api],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=api] {
  background-color: #317daa;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=rdf], .page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=rdf], .page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=nquad], .page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=ntriples], .page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=turtle],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=rdf],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=rdf],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=nquad],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=ntriples],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=turtle] {
  background-color: #0b4498;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=data],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=data] {
  background-color: #7a7a00;
}
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=ppt], .page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats a[data-format=pptx],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=ppt],
.page_main-content .page__content .search-page .views-field-ekan-dataset-resource-formats-1 a[data-format=pptx] {
  background-color: #CF452C;
}
.page_main-content .page__content_left .facet-inactive,
.page_main-content .page__content_left .facet-active {
  position: relative;
}
.page_main-content .page__content_left .facet-inactive details summary,
.page_main-content .page__content_left .facet-active details summary {
  list-style-type: none;
}
.page_main-content .page__content_left .facet-inactive details summary::-webkit-details-marker,
.page_main-content .page__content_left .facet-active details summary::-webkit-details-marker {
  display: none;
}
.page_main-content .page__content_left .facet-inactive details summary::marker,
.page_main-content .page__content_left .facet-active details summary::marker {
  display: none;
}
.page_main-content .page__content_left .facet-inactive h3,
.page_main-content .page__content_left .facet-active h3 {
  background-color: #002245;
  color: white;
  padding: 6px 13px;
  font-weight: initial;
  margin: 0;
  font-size: 20px;
}
.page_main-content .page__content_left .facet-inactive h3:after,
.page_main-content .page__content_left .facet-active h3:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F078";
  float: right;
}
.page_main-content .page__content_left .facet-inactive h3::-webkit-details-marker,
.page_main-content .page__content_left .facet-active h3::-webkit-details-marker {
  display: none;
}
.page_main-content .page__content_left .facet-inactive details[open] summary h3:after,
.page_main-content .page__content_left .facet-active details[open] summary h3:after {
  content: "\F077";
}
.page_main-content .page__content_left .facet-inactive .facet-empty h3:after,
.page_main-content .page__content_left .facet-active .facet-empty h3:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F078";
  float: right;
}
.page_main-content .page__content_left .facet-inactive ul,
.page_main-content .page__content_left .facet-active ul {
  padding-left: 0;
  margin-bottom: 0;
}
.page_main-content .page__content_left .facet-inactive ul li.facet-item,
.page_main-content .page__content_left .facet-active ul li.facet-item {
  list-style-type: none;
  border: 1px solid lightgrey;
  padding: 6px 20px 6px 10px;
}
.page_main-content .page__content_left .facet-inactive ul li.facet-item .facet-item__status,
.page_main-content .page__content_left .facet-active ul li.facet-item .facet-item__status {
  display: none;
}
.page_main-content .page__content_left .facet-inactive ul li.facet-item .remove-active,
.page_main-content .page__content_left .facet-active ul li.facet-item .remove-active {
  position: absolute;
  right: 3px;
  padding: 0 0.75rem;
}
.page_main-content .page__content_left .facet-inactive ul li.facet-item input[type=checkbox],
.page_main-content .page__content_left .facet-active ul li.facet-item input[type=checkbox] {
  display: none;
}
.page_main-content .page__content_left .facet-inactive ul li.facet-item a .facet-item__value,
.page_main-content .page__content_left .facet-active ul li.facet-item a .facet-item__value {
  word-break: break-word;
}
.page_main-content .page__content_left .facet-inactive:first-child h3,
.page_main-content .page__content_left .facet-active:first-child h3 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.page_main-content .page__content_left .facet-inactive:last-child .facet-empty h3,
.page_main-content .page__content_left .facet-active:last-child .facet-empty h3 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.page_main-content .page__content_left .facet-inactive:last-child .facet-item:last-child,
.page_main-content .page__content_left .facet-active:last-child .facet-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.page_main-content .page__content_left .facet-inactive .js-facets-widget #active-checkbox,
.page_main-content .page__content_left .facet-active .js-facets-widget #active-checkbox {
  background-color: lightgrey;
}
.page_main-content .page__content_left .facet-inactive .js-facets-widget #active-checkbox:after,
.page_main-content .page__content_left .facet-active .js-facets-widget #active-checkbox:after {
  content: "";
  width: 27px;
  height: 27px;
  background-color: lightgray;
  transform: rotate(45deg);
  border-radius: 2px;
  position: absolute;
  right: -14px;
  z-index: -1;
  border: 1px solid #ddd;
  border-top: none;
  border-right: none;
  margin-top: -2px;
}
.page_main-content .page__content_left .facet-inactive .js-facets-widget #active-checkbox i,
.page_main-content .page__content_left .facet-active .js-facets-widget #active-checkbox i {
  cursor: pointer;
}

.front-page .home-page {
  display: flex;
}
.front-page .home-page .banner .front-image {
  width: 450px;
  margin: auto;
  display: block;
}
.front-page .home-page .banner .inside {
  padding: 15% 30px;
  text-align: center;
}
.front-page .home-page .banner .inside h2 {
  padding-bottom: 10px;
}
.front-page .home-page .banner .about-btn {
  margin: 1em 0;
  color: #fff;
  background-color: #002245;
  border-color: #002245;
}
.front-page .home-page .banner h2, .front-page .home-page .banner p {
  color: white;
}
.front-page .welcome-banner {
  background-color: #005e9a;
  padding-top: 3rem;
}
.front-page .pt-5 .block--ekan-theme-page-title {
  border: none;
}

.publisher-content {
  display: block;
  -moz-column-count: 3;
       column-count: 3;
}
@media screen and (max-width: 768px) {
  .publisher-content {
    -moz-column-count: auto;
         column-count: auto;
  }
}
.publisher-content .views-row .views-field-field-image img {
  margin: auto;
  display: block;
}
.publisher-content .views-row .views-field-label {
  margin: 2em 0 1.75rem 0;
}
.publisher-content .views-row .views-field-label h2 {
  font-size: 1.5em;
}
.publisher-content .views-row .views-field-field-description {
  line-height: 2em;
}
@media screen and (max-width: 768px) {
  .publisher-content .views-row {
    margin-bottom: 40px;
  }
}

.Stories-content .stories-main-content {
  display: block;
  -moz-column-count: 2;
       column-count: 2;
}
.Stories-content .stories-main-content .views-row {
  margin-bottom: 4em;
}
@media screen and (max-width: 767px) {
  .Stories-content .stories-main-content {
    -moz-column-count: auto;
         column-count: auto;
  }
  .Stories-content .stories-main-content views-row {
    margin-bottom: 4em;
  }
}

article.data-story {
  display: flex;
  flex-direction: column;
  gap: 1em;
}